/* navbar */

body{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    padding: 1rem 20px; 
  }
  

  .navbar-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  
  .navbar-title a {
    font-size: 24px;
    font-weight: bold;
    color: #000; 
    text-decoration: none;
  }
  
  .btn-login {
    padding: 8px 15px;
    background-color: #eb4034;
    border: none; 
    border-radius: 5px;
    font-size: 1rem;
    color: #fff; 
  }
  
  .btn-login:hover {
    background-color: #75110a;
  }